NEXTAUTH_URL=https://example.com
BASE_PATH=/e-commerce
NEXTAUTH_SECRET=
DATABASE_URL=
CLOUDINARY_URL=
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
RESEND_API_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_APP_URL=
FRONTEND_STORE_URL=
